@charset "UTF-8";
/* lol css ha ha ha */
* {transition: 0.4s;}
body{
	margin:0;
	padding:0;
}
.navfs-container{ /*navbar is 70px*/
	padding:0;
	position:fixed;
	width:100vw;
	background-color:#60a151;
	margin-top:-85px;
	z-index:10;
}
.navfs-container img{position:absolute; top:10px; left:5px;}/*to find top, take li padding and subtract 15*/
.navfs li{
	list-style: none;
	display: inline-block;
	transition:0.4s;
	margin:-15px -2px;
	padding:25px;
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 100;
}
.navfs li:hover{
	background-color: #e26d2a;
	transition:0.4s;
}
/*
green:#60a151;
orange:#e26d2a;
*/

.left-column{
	width:20vw;
	height:100vh;
	background-color:#EFEFEF;
	overflow:scroll;
	position:fixed;
	top:0;
	left:0;
}
.left-column img{
	margin-top:92px;
	width:15vw;
	border-radius:100%;
}
.left-column h1{
	margin-top:10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align:center;
}
.left-column p{
	margin:5px 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

.box1{
	margin-left:20vw;
	width:80vw;
	margin-top:72px;
}
.box1 h1, h2{
	color:#1C1C1C;
	margin:20px;
	font-family: 'Source Sans Pro', sans-serif;
}
.box1 h1:hover{
	text-decoration: underline;
}
.box1 p{margin-left:40px; font-size:18px;}
#shop{margin-top:85px;}
.shop{
	background-color:#414141;
	padding:15px 0;
}
.shop img{
	height:250px;
	margin:0 15px -4px 15px;
	background-color:#414141;
}
#volV{cursor:not-allowed;}

footer{
	color:white;
	background-color:#60a151;
	margin-left:20vw;
	font-family:'Source Sans Pro', sans-serif;
	text-align:center;
	padding:15px;
}

@media screen and (max-width: 1400px) {
	.left-column{
		width:25vw;
	}
	.left-column img{
		width:20vw;
	}
	.box1{
		margin-left:25vw;
		width:75vw;
	}
}

@media screen and (max-width: 1050px) {
	.left-column{
		width:40vw;
		height:100vh;
		background-color:#f1f1f1;
		overflow:scroll;
	}
	.left-column img{
		width:20vw;
	}
	.box1{
		margin-left:40vw;
		width:60vw;
	}
	footer{margin-left:40vw;}
	.shop{margin:0 40px;}
	.shop img{
		height:200px;
		margin:0 15px;
		background-color:#414141;
	}
}

@media screen and (max-width: 700px) {
	.shop{margin:0 60px;}
	.shop img{
		height:200px;
		margin:0 15px;
		background-color:#414141;
	}
}

@media screen and (max-width: 475px) {
	.navfs-container{
		margin:0;
		z-index:1000;
	}
	.navfs li{
		margin:-15px -2px;
		padding:25px 10px;
		font-size:12px;
	}
	.left-column{
		width:100vw;
		position:relative;
		height:auto;
	}
	.left-column img{width:50vw;}
	.box1{
		margin-left:0;
		width:100vw;
	}
	footer{width:92vw; margin-left:0;}
	#shop{margin-top:-50px;}
}
